<!-- start custom head snippets -->
<script>
  (function() {
    var cx = '014311809468868572337:uadldlon0oc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<!--Old Verification:-->
<meta name="google-site-verification" content="nla0COtn7SIjJmjt26FQhxBLpjbG9IMXHEJJ94w-vMI" />
<meta name="theme-color" content="#000000" />
<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
<!-- end custom head snippets -->
