<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% endif %}
            {% if link.url contains 'javascript:' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            {% if link.url contains 'javascript:' %}
              <input type="text" class="custom-search" autocomplete="off" placeholder="Search..." spellcheck="false"><li class="masthead__menu-item custom-search" ><a href="{{ domain }}{{ link.url }}"> {{ link.title }} </a></li>
            {% else %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
  <div class="masthead__inner-wrap site-tag" style="padding-top: 0em;margin-top: -2em;">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav"><a class="site-tagline" href="{{ '/' | absolute_url }}">{{ site.tagline }}<img src="{{ site.url }}/assets/images/cursor.gif" class="cursor"></a>
      
      </nav>
    </div>
  </div>
</div>

