---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead{
	background: black;
}
@font-face {
    font-family: LucidaConsole;
    src: url("/assets/fonts/LucidaConsole.ttf");
}

body {
  //zoom: 90%;
}

.masthead__inner-wrap {
  padding: 0.5em;
}
#site-nav{
	background: rgba(0, 0, 0, 0) !important;
}
#site-nav a{
	color: #bdbdbd;
}
#site-nav a:hover{
	color: white;
}
.site-title::before {
  content: "";
  background-size: 8em !important;
  background: url("/assets/images/back-cropped.png") no-repeat;
  height: 0.6em;
  display: block;
}
.site-title{
	font-size: 1.75em;
  font-family: LucidaConsole, monospace;
}
.site-subtitle{
	//margin: 0 0 0 0;
	margin-right: 2rem;
	padding: 0 0 0 0;
	font-style: italic;
	font-size: 0.5em;
  font-weight: normal;
  gap: 2px;
  display: block;
  font-family: sans-serif;;
}

.site-subtitle::after {
  content: "";
  width: 0.2em;
  height: 1.5em;
  margin-bottom: - 0.3em;
  background: white;
  color: white;
  display: inline-block;
  animation: cursor-blink 1.5s normal infinite ease-in-out;
  margin-left: 0.25em;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}
#adverisement{
	color: grey;
	font-size: small;
	padding-top: 5px;
	border-top: grey 1px solid;
}
img#teaser-image{
	max-height: 300px;
	box-shadow: 4px 4px 5px #888888;
	max-width:99%;
	padding: 5px;
	border: grey 1px solid;
}
.list__item{
	padding-right:0px !important;
}
input.contact-submit{
    color: white;
    background-color: rgb(73, 78, 82);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    float:right;
}
label {
    display:flex;
}
#required{
    padding-left: 5px;
    float:left;
    color: orangered;
    font-size: 0.75rem;
}
/*
#gform{
	padding-right:250px;
}
*/
