---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";
.masthead{
	background: black;
}
@font-face {
    font-family: LucidaConsole;
    src: url("/assets/fonts/LucidaConsole.ttf");
}
.masthead__inner-wrap{
	background: black;
	background-image: url("/assets/images/back.png");
	background-repeat: no-repeat;
	background-size : 340px;
}
#site-nav{
	background: rgba(0, 0, 0, 0) !important;
}
#site-nav a{
	color: #bdbdbd;
}
#site-nav a:hover{
	color: white;
}
.site-title{
	font-size: 1.75em;
	font-family: LucidaConsole;
}
a.site-tagline{
	margin: 0 0 0 0;
	margin-right: 2rem;
	padding: 0 0 0 0;
	font-style: italic;
	font-size: medium;
}
.masthead__inner-wrap.site-tag{
	background-image:none;
}
#adverisement{
	color: grey;
	font-size: small;
	padding-top: 5px;
	border-top: grey 1px solid;
}
img{
	padding:5px;
	border: grey 1px solid;
}
img#teaser-image{
	max-height: 300px;
	margin-top:-15px;
	box-shadow: 4px 4px 5px #888888;
	max-width:99%;
}
form.gsc-search-box{
	display:none;
}
.gsc-control-cse.gsc-control-cse-en{
	border:0px;
	padding:0px;
}
input.custom-search{
	width:30%;
	margin-bottom:-5em;
	font-size:smaller;
	height:90%;
	padding:10px;
	margin: auto;
	margin-right:0px;
}
li.custom-search a{
	padding: 0.5rem 15px 0.5rem 15px;
	margin: 0;
	margin-left: 15px;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

#mock-cursor {
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  animation: blink 1s infinite;
  margin-left: 0.45em;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
.cursor{
    all: unset;
    padding-bottom: 0px;
    margin-bottom: -0.2em;
    height: 1.5em;
    margin-left: 0.5em;
}
.list__item{
	padding-right:0px !important;
}
